<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <div class ="container">
            <div class = "box">
                <h3>Thêm mới category</h3>
                <hr>
                <form action = "#" th:action="@{/admin/category/insert}" th:object="${category}" method="post">

                    <div class = "form-group row">
                        <label class = "col-sm-1 col-form-label" >Tên </label>
                        <div class = "col-sm-6">
                            <input type="text" th:field="*{name}" placeholder="" th:errorClass="is-invalid"/>
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        </div>
                    </div>
                    <div class = "form-group row">
                        <div class = "col-sm-4">
                            <button type = "submit" class ="btn btn-primary">Thêm</button>
                            <button type = "reset" class ="btn btn-success">Nhập lại</button>
                            <a th:href="@{~/admin/category/list-category}" type = "button" class ="btn btn-danger">Thoát</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>