<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<body>
<div layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Product</h1>
            <hr>
        </div>
        <div class ="container">
            <!-- <div class = "box"> -->
            <div class="container">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class = "card-tittle">
                            <a th:href="@{~/admin/product/insert}"><button class ="btn btn-primary" method="get" style = "float:left">Insert</button></a>
                            <br>
                        </div>
                        <br>
                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product name</th>
                                    <th>Sales price</th>
                                    <th>Quantity</th>
                                    <th>Preview</th>
                                    <th>Category name</th>
                                    <th>Create date</th>
                                    <th>Update date</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="list:${listProduct}">
                                    <td th:utext="${list.id }"></td>
                                    <td th:utext="${list.name }"></td>
                                    <td th:utext="${list.salePrice }"></td>
                                    <td th:utext="${list.quantity }"></td>
                                    <td><img src="" height="100px" width="100px"  th:src="@{${'/productImages/' + list.image}}"></td>
                                    <td th:utext="${list.categoryName }"></td>
                                    <td th:utext="${list.createdAt }"></td>
                                    <td th:utext="${list.updatedAt }"></td>
                                    <td><a class="text-danger" th:href="@{/admin/product/delete(id=${list.id})}" onclick = "myFunction()">Delete</a>
                                        <script>
                                            function myFunction() {
                                                if(confirm("Bạn chắc chắn muốn xoá?") == true) {
                                                    document.getElementById("id").submit();
                                                }
                                                else {
                                                    event.preventDefault();
                                                    return;
                                                }
                                            }
                                        </script>
                                    </td>
                                    <td><a th:href="@{~/admin/product/update(id=${list.id})}">Update</a></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
</div>
</body>
</html>