<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<body>
<div layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">User</h1>
            <hr>
        </div>
        <div class ="container">
            <!-- <div class = "box"> -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-body">

                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Citizen Identification</th>
                                    <th>Sex</th>
                                    <th>Create Date</th>
                                    <th>Update Date</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="list:${listuser}">
                                    <td th:utext="${list.id }"></td>
                                    <td th:utext="${list.name }"></td>
                                    <td th:utext="${list.email }"></td>
                                    <td th:utext="${list.cmnd }"></td>
                                    <td th:utext="${list.sex }"></td>
                                    <td th:utext="${list.createdAt }"></td>
                                    <td th:utext="${list.updatedAt }"></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
</div>
</body>
</html>